.form {

	>*:not(:last-child) {
		margin-bottom: 10px;
	}
	
}

.infoBlock {
	padding: 5px 10px;
	display: flex;
	gap: 15px;
}
.profileTextArea {
	width: 100%;
	max-width: 250px;
	font-family: "Nunito Sans";
}

.profileInput {
	width: 100%;
	max-width: 250px;
	// padding: 5px;
	border-radius: 4px;
	// border: 1px solid #dadadb;
	&.error {
		border: 1px solid rgb(248, 160, 160);
		font-family: "Nunito Sans";
	}
}


.errorMessage {
	font-size: 12px;
	
}

.profileButton {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 14px;
	// border: 1px solid #bab9b9;
	border: none;
	padding: 5px 10px;
	// max-width: 250px;
	color: #111010;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #8c30e2;
		svg {
			stroke: #8c30e2;
		}
	}

	&:disabled {
		opacity: 0.35;
	}
}