.form {
	
	>*:not(:last-child) {
		margin-bottom: 10px;
	}
	
}

.infoBlock {
	padding: 5px 10px;
	display: flex;
	gap: 15px;
}
.profileTextArea {
	height: 50px;
	resize: none;
	padding: 5px;
	width: 100%;
	border-radius: 4px;
	max-width: 250px;
}

.profileInput {
	width: 100%;
	max-width: 250px;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid #4f515b;
	&.error {
		border: 1px solid rgb(248, 160, 160);
	}
}


.errorMessage {
	font-size: 12px;
	
}

.profileButton {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	border: 1px solid #8c30e2;
	padding: 5px 10px;

	color: #111010;
	transition: all 0.3s ease 0s;

	&:hover {
		color: #8c30e2;
		svg {
			stroke: #8c30e2;
		}
	}

	&:disabled {
		opacity: 0.35;
	}
}