.slider {
	width: 100%;
}

.slide {
	text-align: center;
	padding: 10px;
	img {
		width: 100%;
		max-width: 800px;
		min-height: 600px;
		object-fit: cover;
		aspect-ratio: 3 / 2;
		display: inline-block;
		border-radius: 4px;
	}
}
