
.wrapper {
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: 60px 1fr;
	grid-template-areas: 'n h'
												'n c';
	height: 100vh;
	overflow: hidden;
}

.wrapper__container {
	overflow: hidden;
	grid-area: c;
	height: calc(100vh - 60px);
}
